$theme-purple: #4F46E5;

$white: #ffffff;

$gray: #d4d4d8;

$boxshadow-color: rgba(0, 0, 0, 0.05);

$text-color: #18181B;
$text-color-light: #e4e4e7;
$text-label-color: #3F3F46;

$border-color: #e4e4e7;